<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Stick&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <!-- my styles -->
    <link rel="stylesheet" href="./src/style.css">
</head>

<body>

    <div class="container">
        <nav class=" my-nav">
            <a class="display-4 stickFont" href="/">PaceLab</a>
            <ul class="list-inline pt-4 light">

                <li class="list-inline-item "><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="./src/about.html">Tools</a></li>
                <li class="list-inline-item"><a href="./src/post.html">Post</a></li>
                <li class="list-inline-item"><a class="link-live" href="/admin">Admin</a></li>
            </ul>
        </nav>



        <section id="loginPage">

            <div class="form-div">

                <div class="mb-3">
                    <label for="username " class="form-label">Email</label>
                    <input type="text" class="form-control" id="username" v-model="email"
                        placeholder="someone@example.com">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwrod" v-model="password" placeholder="password">
                </div>

                <a @click='loginButton' class="btn btn-primary">Submit</a> <span class="feedback">{{feedback}}</span>


            </div>


        </section>


    </div>

    <script>
        window.addEventListener('load', async function () {
            await loaded();
        });

        async function loaded() {
            var loginPage = await new Vue({
                el: '#loginPage',
                data: {
                    email: "",
                    password: "",
                    feedback: "",
                },
                methods: {
                    loginButton: function () {

                        // check if flied is empty
                        if (this.email == "" || this.password == "") return this.feedback = "Enter email & password.";

                        //sanitize the input email & password.
                        this.email = this.email.toLowerCase().trim();
                        this.password = this.password.trim();
                        this.feedback = ""; // clear feedback

                        //! make POST request => "/login" route
                        fetch("https://pace-lab.herokuapp.com/login", {
                            method: "POST",
                            headers: {  //! Adding headers to the request 
                                "Content-type": "application/json; charset=UTF-8"
                            },
                            body: JSON.stringify({
                                "email": this.email,
                                "password": this.password
                            })
                        })
                            .then((response) => {
                                response.json().then((data) => {

                                    if (response.status == 200) {//! SUCCESS ==> save JWT to cookie and redirect to "/admin"
                                        document.cookie = `authorization=${data.accessToken};Secure`
                                        window.location = "https://pace-lab.herokuapp.com/admin";
                                        // window.location = "localhost:3000/admin";
                                    } else { //! ERROR show feedback => wrongpassword,no user found/register, etc.
                                        this.feedback = data.error;
                                    }
                                })


                            })


                    }
                },

            });
        }
    </script>
</body>

</html>