<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Stick&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <!-- my styles -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="container">
        <nav class=" my-nav">
            <a class="display-4 stickFont" href="/">codeshare</a>
            <ul class="list-inline pt-4 light">

                <li class="list-inline-item "><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="./about.html">About</a></li>
                <li class="list-inline-item"><a href="./post.html">Post</a></li>
                <li class="list-inline-item"><a class="link-live" href="/admin">Admin</a></li>
            </ul>
        </nav>



        <section id="loginPage">

            <div class="form-div">

                <div class="mb-3">
                    <label for="username " class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" v-model="author" placeholder="@username">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="passwrod" v-model="title" placeholder="password">
                </div>

                <a @click='loginButton' class="btn btn-primary">Submit</a>


            </div>


        </section>


    </div>

    <script>
        window.addEventListener('load', async function () {
            await loaded();
        });

        async function loaded() {
            var loginPage = await new Vue({
                el: '#loginPage',
                data: {
                    author: '',
                    title: '',
                    description: '',
                    code: '',
                    codes: [],
                },
                methods: {

                },

            });
        }
    </script>
</body>

</html>