<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Stick&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <!-- my styles -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="container">
        <nav class=" my-nav">
            <a class="display-4 stickFont" href="/">PaceLab</a>
            <ul class="list-inline pt-4 light">

                <li class="list-inline-item "><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="./about.html">About</a></li>
                <li class="list-inline-item"><a class="link-live" href="./post.html">Post</a></li>
                <li class="list-inline-item"><a href="/admin">Admin</a></li>
            </ul>
        </nav>



        <section id="postPage">

            <div class="form-div">

                <div class="mb-3">
                    <label for="authorInput " class="form-label">Name of Author</label>
                    <input type="text" class="form-control" id="authorInput" v-model="author" placeholder="John Doe">

                </div>

                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" v-model="title"
                        placeholder="title of the program">
                </div>

                <div class="mb-3">
                    <label for="sem" class="form-label">Sem </label>
                    <select class="select-sem" name="sem" v-model="sem" id="sem">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>

                    <label for="tag" class="form-label">Tag</label>
                    <input type="text" v-model="tag" class="form-control-sm" id="tag" v-model="tag"
                        placeholder="optional">

                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <textarea class="form-control" id="descriptionInput" placeholder="explain the program briefly"
                        v-model="description" rows="2" maxlength="85"></textarea>
                </div>

                <div class="mb-3">
                    <label for="codeInput" class="form-label">Paste the Code here</label>
                    <textarea class="form-control" placeholder="paste your code here" id="codeInput" v-model="code"
                        rows="10"></textarea>
                </div>
                <span class="feedback">{{feedback}}</span><br>
                <a @click='postButton' class="btn btn-primary">Submit</a>

            </div>




        </section>


    </div>

    <script>
        window.addEventListener('load', async function () {
            await loaded();
        });

        async function loaded() {
            var postPage = await new Vue({
                el: '#postPage',
                data: {
                    author: '',
                    title: '',
                    description: '',
                    code: '',
                    codes: [],
                    sem: null,
                    tag: '',
                    feedback: '',
                },
                methods: {
                    formValidation: function () {

                        if (this.author && this.title != '' && this.description != '' && this.code != '' && this.sem != '') return true;
                        else {
                            this.feedback = 'fill all the fields';
                            console.log('fill all the fields');
                        };


                    },
                    postButton: function () {

                        if (this.formValidation()) {
                            //POST request using fetch() 
                            fetch("https://pace-lab.herokuapp.com/code", {
                                method: "POST", // Adding method type 
                                body: JSON.stringify({  // Adding body or contents to send 
                                    "author": this.author,
                                    "title": this.title,
                                    "description": this.description,
                                    "code": this.code,
                                    "sem": this.sem,
                                    "tag": this.tag.toLowerCase()
                                }),
                                headers: {  // Adding headers to the request 
                                    "Content-type": "application/json; charset=UTF-8"
                                }
                            }).then(response => window.location = "https://pace-lab.herokuapp.com/"); // redirect after success

                        }




                    }
                },

            });
        }
    </script>
</body>

</html>