body {
  background-color: #333a45;
  margin: 0;
  padding: 0;
}

.stickFont {
  font-family: 'Stick', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #cd4773;
  font-size: bold;
}
nav a:hover {
  text-decoration: none;
  color: #cd4773;
  font-size: bold;
}

nav li > a {
  color: white;
  font-size: 1.2rem;
}
nav li > a:hover {
  color: #f0c8d5;
}

section {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  color: black;
  margin: 1.5%;
  background-color: #e8e8e8;
}

.card a {
  text-decoration: none;
  color: black;
}
.card a:hover {
  text-decoration: none;
  color: black;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardFooter a {
  color: #00917c;
  text-transform: uppercase;
  font-weight: bold;
}
.cardFooter a:hover {
  color: #025955;
}

.form-div {
  margin: 0 auto;
  width: 500px;
  color: white;
}
