body {
  background-color: #333a45;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.stickFont {
  font-family: 'Stick', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #cd4773;
  font-size: bold;
}
nav a:hover {
  text-decoration: none;
  color: #cd4773;
  font-size: bold;
}

.link-live {
  color: #f0c8d5;
}

nav ul {
  padding-top: 20px;
}
nav li > a {
  color: white;
  font-size: 1.2rem;
}
nav li > a:hover {
  color: #f0c8d5;
}

section {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  color: black;
  margin: 1.5%;
  background-color: #e8e8e8;
}

.card a {
  text-decoration: none;
  color: black;
}
.card a:hover {
  text-decoration: none;
  color: black;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardFooter button {
  color: #00917c;
  text-transform: uppercase;
  font-weight: bold;
}

.form-div {
  margin: 0 auto;
  width: 500px;
  color: white;
}

@media (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    padding-top: 4px;
  }
}

/* about page*/
.img-section img {
  width: 200px;
  height: 300px;
  border-radius: 25%;
}

.content-about {
  margin: 10px;
  color: white;
  width: 70%;
}

/* f404 page */
.fourOfour h1 {
  color: white;
  margin: 0 0 0 18px;
}
.fourOfour img {
  width: 120px;
  border-radius: 50%;
}

.fourOfour {
  width: 70vh;
  height: 70vw;
}

@keyframes hor-movement {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes ver-movement {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: 100%;
  }
}

.fourOfour img {
  animation-name: hor-movement, ver-movement;
  animation-duration: 6.141s, 3.414s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
