body {
  background-color: #333a45;
  margin: 0;
  padding: 0;
}

section a {
  text-decoration: none;
  color: black;
}
section a:hover {
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: #cd4773;
  font-size: bold;
}
nav a:hover {
  color: #f0c8d5;
}

nav li > a {
  color: white;
  font-size: 1.2rem;
}

section {
  margin-top: 5%;
}

.stickFont {
  font-family: 'Stick', sans-serif;
}
